@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.div_table {
    margin : 15px auto;
    width : 900px;
}
.a_margin_r {
    margin-right : 15px;
}
.a_margin_l {
    margin-left : 15px;
}
.page_bar {
    width : 600px;
    margin : 0 auto;
}
.abs {
    margin : 20px auto;
}
.top {
    margin-top : 30px;
    font-weight : 900;
    font-family: 'Bebas Neue', cursive;
    font-size : 80px;
}
.hidden {
    visibility:hidden;
}
.td_left {
    text-align : left;
}
.a_none {
    text-decoration : none;
    color : black;
}
.tr_font {
    font-family: 'TheJamsil5Bold';
}