@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.div_table {
    margin : 15px auto;
    width : 900px;
}
.a_margin_r {
    margin-right : 15px;
}
.a_margin_l {
    margin-left : 15px;
}
.page_bar {
    width : 800px;
    margin : 0 auto;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    position: relative;
}
.abs {
    margin : 20px auto;
}
.top {
    margin-top : 30px;
    font-weight : 900;
    font-family: 'Bebas Neue', cursive;
    font-size : 80px;
}
.hidden {
    visibility:hidden;
}
.tbl {
    margin : 15px auto;
    width : 900px;
}
.td_left {
    text-align : left;
}
.a_none {
    text-decoration : none;
    color : black;
}
.tbl_tr {
    width: 900px;
    display: grid;
    grid-template-columns: 130px 1fr 250px;
}
.tr_font:hover {
    background-color: rgba(204, 204, 204, 0.253);
}
.tr_font {
    height: 35px;
    margin-left: 0;
    padding-top: 5px;
    border-bottom: 1px solid rgba(148, 148, 148, 0.308);
    font-family: 'TheJamsil5Bold';
}
.tbl_tr_color {
    background-color: #212529;
    color: white;
    font-family: 'TheJamsil5Bold';
    font-size : 20px;
}
.write-button {
    position :absolute;
    bottom : 0;
    right: 30px;
}
.top_title {
    width: 900px;
    position: relative;
    display: inline-block;
}
.page_bar_back {
    display: inline-block;
    margin-top: 20px;
}
.page_bar_pront {
    display: inline-block;
    margin-top: 20px;
}