@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.top {
    margin-top : 30px;
    font-weight : 900;
    font-family : 'Bebas Neue', cursive;
    font-size : 80px;
    text-align: center;
}
.main_contents {
    width : 811px;
    height : 600px;
    margin : 0 auto;
    border : 1px solid #ccc;
    border-radius : 10px;
    word-break :break-all;
}
.info_div {
    width: 810px;
    text-align: center;
    font-family: 'TheJamsil5Bold';
    background-color: #212529;
    color: white;
    display: grid;
    grid-template-columns: 170px 1fr 250px;
    font-size : 20px;
}
.info_div2 {
    text-align: start;
}
.btns {
    width: 810px;
    margin: 0 auto;
    position: relative;
    top : 10px;
    left : 320px;
}
.board_contents {
    width: 790px;
    font-size: 15px;
    margin : 10px;
}